*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --black: #000;
    --azzurro: rgb(180, 208, 231);
    --blu: rgb(0, 97, 255);
    --white: rgb(255, 255, 255);
    --verde: rgb(162, 211, 155);
    --florida: rgb(0, 147, 206);
    --red: rgb(255, 28, 28);
    --viola: rgb(97, 8, 43); 
    --giallo:rgb(255, 216, 48);
    --lonely:rgb(13, 36, 129);
    --bordo: rgb(213, 0, 31);    
}
/*header*/
.debag{
    border: 1px solid black;
}
.flex{
    display: flex;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.margin{
    margin: 5px;
}
.flexcenter{
    display: flex; 
    justify-content: center;
}
.flexend{
    display: flex;
    justify-content: flex-end;
}
.flexstart{
    display: flex;
    justify-content: flex-start;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.align-end{
    align-items: flex-end;
}
.space{
    display: flex;
    justify-content: space-around;
}
.logo{
    padding: 15px;
    vertical-align: middle;
}
nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}
.btnblu{
    background-color: var(--blu);
    color: var(--white);
    padding: 15px;
    display: block;
    width: 250px;
    text-align: center;
}
.btnblusmall{
    background-color: var(--blu);
    color: var(--white);
    padding: 15px;
    display: block;
    width: 70px;
    text-align: center;
}
.btnwhite{
    border: 1px solid rgb(120, 117, 128);
    color: rgb(120, 117, 128) ;
    padding: 15px;
    display: block;
    width: 250px;
    text-align: center;
    margin-top: 20px;
}
.btnwhit{
    background-color: var(--white);
    font-size: 20px;
    display: block;
    width: 300px;
    text-align: center;
    margin: 100px 0;
    padding-top: 20px;
}
.color{
    color:rgb(120, 117, 128) ;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
}
li{
    list-style: none;  
}
/*main*/

.hero{
    background-color: var(--azzurro);
    height: 700px;
    margin-top: 40px;
    position: relative;
}
h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 70px;
}
h2{
    font-size: 30px;
    margin-top: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}
h3{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.jumbo{
    height: 455px;
    width: 790px;
    position: absolute;
    margin: 20px;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.dist{
    padding-top: 20px;
    padding-bottom: 15px;
}
.left{
    padding-left: 20px;
}
#icona{
    /*  width: 150px;
     height: 150px; */
     padding-top: 130px;
 }
.col{
    width: 350px;
    height: 1000px;
    border: 1px solid rgb(231, 231, 232); 
    margin: 50px;
    padding: 30px; 
}
.fatt{
    margin-left: 40px;
}

.intestazionecol{
    border-bottom: 1px solid rgb(231, 231, 232);
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.grigio{
    color: rgb(178, 155, 159);
}
span{
    text-decoration: underline;
    color: var(--blu);
}
#az{
    color: var(--blu);
}
.w-100{
    width: 100%;
}
.black-border{
    border: 1px solid rgb(231, 231, 232) ;
    padding: 5px 10px;
}
#imm{
    width: 35vw;
}
.separa{
    padding-top:60px; 
}
.cal{
    width: calc((100% - 20px) / 3);
}
.calc-quad{
    width: calc(100% / 3);
}
.sottolineato{
    text-decoration: underline;
    color: var(--blu);
    font-size: 20px;
    margin-bottom: 100px;
}
.quadrato{
    height: 30vw;
    width: 30vw;
    display: flex;
    flex-flow: row wrap;
    filter: invert(1);
}
#font{
    font-size: 25px;
}
.quadrato-center{
    width: calc(100% - 60vw);
    padding: 40px;
}
.w-50{
    height: 50%;
    width: 50%;  
}
.w-50 img{
    width: 100%;
}
.designit{
     background-color: var(--verde);  
}
.asu{   
    background-color: var(--viola); 
}
.florida{
    background-color: var(--florida);  
}
.topps{
    background-color: var(--red);
}
.bici{
    background-color: var(--bordo);
}
.hearst{
    background-color: var(--azzurro);
}
.lonely{
    background-color: var(--lonely) ;
}
.clear{
    background-color: var(--giallo);
}
#viola{
    color: rgb(95, 4, 47) ;
    font-size: 40px;
}
.azienda{
    background-color: var(--azzurro);
}