*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --black: #000;
    --azzurro: rgb(180, 208, 231);
    --blu: rgb(0, 97, 255);
    --white: rgb(255, 255, 255);
    --verde: rgb(162, 211, 155);
    --florida: rgb(0, 147, 206);
    --red: rgb(255, 28, 28);
    --viola: rgb(97, 8, 43); 
    --giallo:rgb(255, 216, 48);
    --lonely:rgb(13, 36, 129);
    --bordo: rgb(213, 0, 31);    
}
/*header*/
.debag{
    border: 1px solid black;
}
.flex{
    display: flex;
}
.flexrow{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.flexcenter{
    display: flex; 
    justify-content: center;
}
.flexend{
    display: flex;
    justify-content: flex-end;
}
.flexstart{
    display: flex;
    justify-content: flex-start;
}
.logo{
    padding: 15px;
    vertical-align: middle;
}
nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}
.btnblu{
    background-color: var(--blu);
    color: var(--white);
    padding: 15px;
    display: block;
    text-decoration: none;
    width: 250px;
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
}
li{
    list-style: none;  
}
/*main*/

.hero{
    background-color: var(--azzurro);
    height: 700px;
    margin-top: 40px;
    position: relative;
}
h1{
    text-align: center;
    padding: 60px;
    margin-bottom: 10px;
    font-size: 70px;
}
h2{
    font-size: 30px;
    margin-top: 120px;
}
.jumbo{
    height: 455px;
    width: 790px;
    position: absolute;
    margin: 20px;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.dist{
    padding-top: 25px;
    padding-bottom: 10px;
}
.col{

}
#icona{
    width: 150px;
    height: 150px;
}